{% extends'common/base.html' %}
{% block title %}
    登陆
{% endblock %}

{% block page_content %}
    {% from 'bootstrap/wtf.html' import quick_form %}
    <h3>测试账号</h3>
    <h3>账号：xuxy19；密码：123456</h3>
    <h3>账号：xuxy20；密码：123456</h3>

    <div class="row">
        <div class="col-md-8"><img class="media-object" width="200px"
                                   src="{{ url_for('static', filename='img/'+'advertisement.jpg', _external=True) }}"
                                   alt="...">
        </div>
        <div class="col-md-4">{{ quick_form(form) }}</div>
    </div>
    <div align="right"><a href="{{ url_for('user.recover_password') }}" target="_blank">
        <button type="button" class="" id="addnew">忘记密码</button>
    </a></div>
{% endblock %}